.footer {
    color: white;
    background-color: #0A2850;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 60px 80px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__social {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.footer__logo {
    width: 105px;
    height: 39px;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.footer__circle {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #2f80ed;
    top: -128px;
    left: -44px;
    position: absolute;
}

.footer__social-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height:20px;
    text-align: justify;
    margin:0 0 20px;
    }

.footer__list {
    list-style-type: none;
    gap: 16px;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
    display: flex;
    margin: 0px;
}

.footer__list-item {
    display: flex;
    font-size: 16px;
}

.footer__social-link {
    text-decoration: none;
    color: white;
    gap:10px;
    display: flex;
    align-items: center;
}

.footer__social-link:focus{
    color: #C1C1C1;
}

.footer__social-link:hover{
    color:#C1C1C1;
}

.footer__social-icon {
    width: 16px;
    height: 16px;

}

.footer__copyright {
    margin-top: 108px;
    margin-bottom: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}