:root{
    font-size: 16px;
}

.form__fieldset {
    border: none;
}

.form__label {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.form__input {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 8px 0 32px 0;
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: none;
}

.form__button {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #2f80ed;
    width: 100%;
    height: 60px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}

.form__button:hover{
    opacity: 70%;
}

.form__checkbox {
    width: 20px;
    height: 20px;

}

.form__label-checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 32px;
}