.page {
    font-family: 'Inter', Arial, sans-serif;
    /* Fonte padrão da página */
    min-width: 1100px;
    /* Largura mínima da página */
    max-width: 1600px;
    /* Largura máxima da página */
    font-size: 16px;
    /* Tamanho da fonte */
    line-height: 20px;
    /* Altura da linha */
    /*margin-left: 0;
    /* Centraliza a página horizontalmente */
    /*rgin-right: 0;
    /* Centraliza a página horizontalmente */
    margin: 0 auto;
}