.recipes {
    background-image: url("../images/background_recipes.svg");
    display: flex;
    /* Define o display como flex */
    flex-direction: column;
    /* Define a direção dos itens flexíveis como coluna */
    background-size: cover;
    /* Define o tamanho da imagem de fundo como cover */
    background-repeat: no-repeat;
    /* Define a repetição da imagem de fundo como no-repeat */
    min-height: 720px;
    /* Define a altura mínima do cabeçalho como 700 pixels */
    max-height: 800px;
    /* Define a altura máxima do cabeçalho como 800 pixels */
    height: 100vh;
    /* Define a altura do cabeçalho como 100% da altura da viewport */
    position: relative;
    box-sizing: border-box;
    /* Define o box-sizing como border-box */
    background-color: #0a2750;
    /*margin-left: 80px;*/
    /* se eu colocar margem aqui o fundo se move tambem */
    padding: 100px 0px 0px 80px;
}

.recipes__title {
    max-width: 580px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: white;
}

.recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    display: block;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.recipes__video-item {
    display: flex;
    column-gap: 40px;
    flex-direction: column;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    column-gap: 40px;

}

.recipes__iframe {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    border: none;
}

.recipes__videos-caption {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

}