.reservation {
    background-color: #D9E7FF;
    background-image: url("../images/background_reservation.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;
    min-width: 1600px;
    height: 100vh;
    padding: 100px 0 120px 0;


}

.reservation__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
}
