.reservation {
    background-color: #D9E7FF;
    background-image: url("../images/background_reservation.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;
    min-width: 1600px;
    height: 100vh;
    padding: 100px 0 120px 0;


}

.reservation__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
}

.reservation__form {
    margin: 0 auto;
    max-width: 385px;
}

.reservation__form-fieldset {
    border: none;
}

.reservation__label {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.reservation__input {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 8px 0 32px 0;
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: none;
}

.reservation__button {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #2f80ed;
    width: 100%;
    height: 60px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}

.reservation__button:hover{
    opacity: 70%;
}

.reservation__checkbox {
    width: 20px;
    height: 20px;

}

.reservation__label-checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 32px;
}