.page {
    font-family: 'Inter', Arial, sans-serif;
    /* Fonte padrão da página */
    min-width: 1100px;
    /* Largura mínima da página */
    max-width: 1600px;
    /* Largura máxima da página */
    font-size: 16px;
    /* Tamanho da fonte */
    line-height: 20px;
    /* Altura da linha */
    /*margin-left: 0;
    /* Centraliza a página horizontalmente */
    /*rgin-right: 0;
    /* Centraliza a página horizontalmente */
    margin: 0 auto;
}

.header {
    background-image: url("../images/background_header.svg");
    /* Define a imagem de fundo */
    display: flex;
    /* Define o display como flex */
    flex-direction: column;
    /* Define a direção dos itens flexíveis como coluna */
    background-size: cover;
    /* Define o tamanho da imagem de fundo como cover */
    background-repeat: no-repeat;
    /* Define a repetição da imagem de fundo como no-repeat */
    min-height: 720px;
    /* Define a altura mínima do cabeçalho como 700 pixels */
    max-height: 800px;
    /* Define a altura máxima do cabeçalho como 800 pixels */
    height: 100vh;
    /* Define a altura do cabeçalho como 100% da altura da viewport */
    position: relative;
    box-sizing: border-box;
    /* Define o box-sizing como border-box */
    padding: 30px 80px 40px;
    /* Define o padding do cabeçalho */
    /*margin-right: -30px*/
}

.nav {
    height: 80px;
    /* Define a altura da barra de navegação como 80 pixels */
    display: flex;
    /* Define o display como flex */
    justify-content: space-between;
    /* Distribui os itens com espaço entre eles */
    ;
}

.nav__logo {
    position: relative;
    /* Define a posição como relativa */
    height: 39px;
    /* Define a altura da imagem como 80 pixels */
    width: 105px;
    /* Define a largura da imagem como 58 pixels */
    display: flex;
    /* Define o display como flex */
    /* Define a margem superior como 30 pixels e a margem esquerda como 80 pixels */
    left: -50px;
}

.nav__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav__link:hover {
    color: #2F80ED;
}


.nav__links {
    font-style: normal;
    /* Define o estilo da fonte como normal */
    font-weight: 500;
    /* Define a espesura  da fonte como 500 (médio) */
    font-size: 16px;
    /* Define o tamanho da fonte como 61 pixels */
    line-height: 20px;
    /* Define a altura da linha como 20 pixels */
    display: flex;
    /* Define o display como flex */
    list-style: none;
    column-gap: 20px;
    padding: 0;

}

.header__content {
    margin-left: 80px;
    /* Define a margem esquerda como 80 pixels */
    display: flex;
    /* Define o display como flex */
    justify-content: space-between;
    /* Distribui os itens com espaço entre eles */
    height: 607px;
}

.header__title {
    font-family: "Inter";
    /* Define a fonte como "Noto Serif" */
    font-weight: 500;
    /* Define a espesura da fonte */
    font-size: 58px;
    /* Define o tamanho da fonte como 58 pixels */
    line-height: 72px;
    /* Define a altura da linha como 72 pixels */
    margin: 183px 0 0;
    /* Define a margem superior como 183 pixels */
    font-style: normal;
    /* Define o estilo da fonte como itálico */
    max-width: 709px;
    white-space: nowrap;

}

.header__span-accent {
    font-family: "Noto Serif";
    /* Define a fonte como "Noto Serif" */
    display: block;
    /* Define o display como bloco */
    color: #2f80ed;
    /* Define a cor do texto como azul (#2f80ed) */
    font-style: italic;
    /* Define o estilo da fonte como normal */
    font-weight: 500;
    /* Define a espesura da fonte como 500 (médio) */
    font-size: 58px;
    /* Define o tamanho da fonte como 58 pixels */
    line-height: 72px;
    /* Define a altura da linha como 72 pixels */
    letter-spacing: -1px;
    /* Define o espaçamento entre letras como -1 pixel */
    /*margin-left: 80px; /* Define a margem esquerda como 80 pixels */

}

.header__description {
    font-family: "Noto Serif";
    /* Define a fonte como "Noto Serif" */
    font-style: normal;
    /* Define o estilo da fonte como normal */
    font-weight: normal;
    /* Define a espesura da fonte como normal */
    font-size: 20px;
    /* Define o tamanho da fonte como 20 pixels */
    line-height: 30px;
    /* Define a altura da linha como 28 pixels */
    display: block;
    /* Define o display como bloco */
    margin: 28px 0 0;
    /* Define a margem superior como 16 pixels */
    max-width: 683px;
    /* Define a largura máxima do parágrafo como 683 pixels */
}

.header__image {
    position: absolute;
    display: flex;
    /* Define o display como flex */
    max-width: 646px;
    /* Define a largura máxima da imagem como 636 pixels */
    height: 568px;
    /* Define a altura da imagem como 568 pixels */
    top: 124px;
    /* Define a margem superior como 124 pixels */
    right: 5px;
    /* Define a margem esquerda como 5 pixels */
}

.header__footer {
    display: flex;
    /* Define o display como flex */
    justify-content: space-between;
    /* Distribui os itens com espaço entre eles */
    font-style: normal;
    /* Define o estilo da fonte como normal */
    font-weight: 500;
    /* Define a espesura da fonte como 500 (médio) */
    font-size: 16px;
    /* Define o tamanho da fonte como 20 pixels */
    line-height: 20px;
    /* Define a altura da linha como 20 pixels */
    color: #838383;
    /* Define a cor do texto como cinza (#838383) */
    margin-bottom: 40px;
    /* Define a margem inferior como 40 pixels */
    align-items: flex-end;
    /* Alinha os itens ao final do eixo cruzado */
    z-index: 10;
    margin-top: auto;


}

.header__paragraph {
    display: flex;
    /* Define o display como flex */

    /* Define a margem esquerda como 80 pixels */
    list-style-type: none;
    /* Remove os marcadores da lista */
    display: block;
    /* Define o display como bloco */
    list-style: none;
    /* Remove os pontos da lista */
    margin: 0;

    /* Define a margem esquerda como 80 pixels */

}

.recipes {
    background-image: url("../images/background_recipes.svg");
    display: flex;
    /* Define o display como flex */
    flex-direction: column;
    /* Define a direção dos itens flexíveis como coluna */
    background-size: cover;
    /* Define o tamanho da imagem de fundo como cover */
    background-repeat: no-repeat;
    /* Define a repetição da imagem de fundo como no-repeat */
    min-height: 720px;
    /* Define a altura mínima do cabeçalho como 700 pixels */
    max-height: 800px;
    /* Define a altura máxima do cabeçalho como 800 pixels */
    height: 100vh;
    /* Define a altura do cabeçalho como 100% da altura da viewport */
    position: relative;
    box-sizing: border-box;
    /* Define o box-sizing como border-box */
    background-color: #0a2750;
    /*margin-left: 80px;*/
    /* se eu colocar margem aqui o fundo se move tambem */
    padding: 100px 0px 0px 80px;
}

.recipes__title {
    max-width: 580px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: white;
}

.recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
    display: block;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.recipes__video-item {
    display: flex;
    column-gap: 40px;
    flex-direction: column;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    column-gap: 40px;

}

.recipes__iframe {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    border: none;
}

.recipes__videos-caption {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

}

.reservation {
    background-color: #D9E7FF;
    background-image: url("../images/background_reservation.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1100px;
    min-width: 1600px;
    height: 100vh;
    padding: 100px 0 120px 0;


}

.reservation__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px;
}

.reservation__form {
    margin: 0 auto;
    max-width: 385px;
}

.reservation__form-fieldset {
    border: none;
}

.reservation__label {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.reservation__input {
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 8px 0 32px 0;
    width: 100%;
    height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: none;
}

.reservation__button {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #2f80ed;
    width: 100%;
    height: 60px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
}

.reservation__button:hover{
    opacity: 70%;
}

.reservation__checkbox {
    width: 20px;
    height: 20px;

}

.reservation__label-checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 32px;
}

.footer {
    color: white;
    background-color: #0A2850;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 60px 80px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__social {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.footer__logo {
    width: 105px;
    height: 39px;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.footer__circle {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #2f80ed;
    top: -128px;
    left: -44px;
    position: absolute;
}

.footer__social-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height:20px;
    text-align: justify;
    margin:0 0 20px;
    }

.footer__list {
    list-style-type: none;
    gap: 16px;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
    display: flex;
    margin: 0px;
}

.footer__list-item {
    display: flex;
    font-size: 16px;
}

.footer__social-link {
    text-decoration: none;
    color: white;
    gap:10px;
    display: flex;
    align-items: center;
}

.footer__social-link:focus{
    color: #C1C1C1;
}

.footer__social-link:hover{
    color:#C1C1C1;
}

.footer__social-icon {
    width: 16px;
    height: 16px;

}

.footer__copyright {
    margin-top: 108px;
    margin-bottom: 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}